{% trans_default_domain 'FOSUserBundle' %}

<form class="form-horizontal" action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    <legend>Change login password</legend>
    {{ form_widget(form, {'form_type': 'horizontal'}) }}
    <div class="controls">
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
</form>
