{% extends "MarkMxSkelBundle::layout.html.twig" %}

{% block content %}
<h1>Change password</h1>

{% block fos_user_content %}
{% include "MarkMxUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock fos_user_content %}

{% endblock %}
