{% trans_default_domain 'FOSUserBundle' %}

<form class="form-horizontal" action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    <legend>Edit personal profile details</legend>
    {{ form_widget(form, {'form_type': 'horizontal'}) }}
    <div class="controls">
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
</form>
