{% extends "MarkMxSkelBundle::layout.html.twig" %}

{% block content %}
<h1>View profile</h1>

{% block fos_user_content %}
{% include "FOSUserBundle:Profile:show_content.html.twig" %}
{% endblock fos_user_content %}

{% endblock %}
