{% extends "MarkMxSkelBundle::layout.html.twig" %}

{% block content %}
<h1>Check email</h1>

{% block fos_user_content %}

{% trans_default_domain 'FOSUserBundle' %}

<p>
{{ 'resetting.check_email'|trans({'%email%': email}) }}
</p>
{% endblock %}

{% endblock %}
