{% extends "MarkMxUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<h1>Reset password already requested</h1>

{% trans_default_domain 'FOSUserBundle' %}

<p>{{ 'resetting.password_already_requested'|trans }}</p>
{% endblock fos_user_content %}
