{% extends "MarkMxUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<h1>Reset password</h1>
{% include "MarkMxUserBundle:Resetting:request_content.html.twig" %}
{% endblock fos_user_content %}
