{% trans_default_domain 'FOSUserBundle' %}

<form class="form-horizontal" action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <legend>Existing account identity</legend>
    <div class="control-group">
        {% if invalid_username is defined %}
            <div class="alert alert-error control-group error">
                <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
            </div>
        {% endif %}
        <label class="control-label" for="username">{{ 'resetting.request.username'|trans }}</label>
        <div class="controls">
            <input type="text" id="username" name="username" required="required" />
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
        <input type="submit" value="{{ 'resetting.request.submit'|trans }}" />
        </div>
    </div>
</form>
