{% extends "MarkMxSkelBundle::layout.html.twig" %}

{% block content %}
<h1>Request reset password</h1>

{% block fos_user_content %}
{% include "FOSUserBundle:Resetting:request_content.html.twig" %}
{% endblock fos_user_content %}

{% endblock %}
