{% extends "MarkMxSkelBundle::layout.html.twig" %}

{% block content %}
<h1>Reset password</h1>

{% block fos_user_content %}
{% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
{% endblock fos_user_content %}

{% endblock %}