{% extends "MarkMxSkelBundle::layout.html.twig" %}

{% block content %}
<h1>Sign up</h1>

{% block fos_user_content %}
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}

{% endblock %}