{% extends "MarkMxSkelBundle::layout.html.twig" %}

{% block title "Skeleton - About" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">About</h1>
    <p>
        View the Site Skeleton project's documentation and code at <a href="https://github.com/markmx/site-skeleton" target="_blank">Github</a>.
    </p>

    <p>
        Hosted on <a href="http://fortrabbit.com/" target="_blank">fortrabbit</a>.
    </p>
{% endblock %}
