{% extends "MarkMxSkelBundle::layout.html.twig" %}

{% block title "Symfony Skeleton" %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">Welcome to the Symfony Skeleton</h1>
    {% if is_granted("ROLE_USER") %}
    <p>
        Hi {{ app.user.username }}.
    </p>
    {% endif %}
    {% if not is_granted("ROLE_USER") %}
    <p>
        Please <a href="{{ path('fos_user_registration_register') }}">sign up</a> for a new account, or <a href="{{ path('fos_user_security_login') }}">sign in</a> to an existing one.
    </p>
    {% endif %}
{% endblock %}
